html {
  background-color: color('secondary');
  color: color('primary');
  font-family: $global-font-family;
  font-size: $global-font-size;
  line-height: line-height('base');
  min-height: 100%;
}

h1 {
  margin: indent('zero');
}

a,
input,
button {
  &:focus {
    outline: none;
  }
}
